table {
  padding-top: 50px;
  border-spacing: 10px;
}
td, th {
  padding: 20px;
  background-color: #cfcfcf;
}
span {
  display: block;
  transform: rotate(-90deg);
}
.picture {
  width: 40%;
  background-color: #f5f5f5;;
}
.available {
  background-color: #0070bd;
}